# Node
node_modules
npm-debug.log
yarn-error.log

# Env / Secrets
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*
/*.log
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Coverage / build
coverage
dist
build

# Custom
hashPwd.js
